[2021-10-18 08:02] cyrilhagege opened #1 "Create repository structure"
Create repository structure including all bricks

[2021-10-18 13:05] jdenquin opened #7 "Configure Database, Traefik and API"

[2021-10-19 13:13] cyrilhagege opened #13 "GraphQL Authentication"
Create AuthGuard for GraphQL endpoints

[2021-10-20 15:07] vincent-pochet opened #17 "Run DB migrations with docker"
Add ability to run TypeORM migration with Docker ervirorment

[2021-10-21 10:01] vincent-pochet opened #21 "Add Docker setup for development environment"
Add ability to start application via Docker in development environment.

It should include live reload and all app component should be exposed for debug and test purpose

[2022-04-21 08:47] vincent-pochet opened #6 "Ruby API client"

[2022-04-21 08:48] vincent-pochet opened #8 "Go API client"

[2022-04-22 12:12] MorganeLecurieux opened #9 "Edit/Delete Customer"

[2022-05-31 12:39] michaelponrajah opened #23 "Create a fee that will be charge once on customers"
## Problem description
It’s impossible for our users to add a one-time charge to a customer.

Today, a charge is always recurring or linked to a Billable metric which can occur several times and Lago don’t handle one-time charge systems for now.

_How important is this for you?_

[2022-05-31 13:24] michaelponrajah opened #25 "Log charges events in the app"
## Problem description
1. We cannot fetch programmatically the usage of a customer and reuse this info
2. We cannot give details of the actual usage linked to the amount charged in a past invoice
3. We cannot give details of the usage of the current billing period (next invoice)
4. We don’t have a system to track all the usage coming into Lago

There’s no system in Lago that display ingested event

[2022-05-31 13:34] michaelponrajah opened #26 "Bill Charges monthly on a yearly plan"
## Problem description
When a user creates a plan based on a yearly frequency, she can't track the charges monthly and has to follow plan's frequency.
User can't charge the customer monthly usage even if the plan is billed yearly.

_How important is this for you?_

[2022-05-31 13:56] michaelponrajah opened #27 "Give visibility to our user's customers on their current usage"
## Problem description
User’s customers have a hard time to know how much their current usage is at a T moment and how much they will be charged from it

_How important is this for you?_

[2022-05-31 13:59] michaelponrajah opened #28 "Generate invoices in PDF"
## Problem description
Users can’t send invoices to their customer right now. They have to build a PDF system to send invoices or send it to another provider to use the JSON provided from Lago

_How important is this for you?_

[2022-05-31 14:02] michaelponrajah opened #29 "Create prepaid credits system (consumed down and potentially rolled over)"
## Problem description
Our users can not map their pricing correctly as Lago is not providing the prepaid credit system in the application

_How important is this for you?_

[2022-05-31 14:13] michaelponrajah opened #30 "Add Gauge model as an billable metric aggregate type"
## Problem description
Users with a pricing model requiring to calculate usage based on time (e.g. gigabyte per hours) can't use Lago as it's not handling this aggregation type for now.

_How important is this for you?_

[2022-05-31 14:30] michaelponrajah opened #31 "Create a smooth connection between Lago <> Stripe payment"
## Problem description
1. Lago is not well connected to payment providers
2. Stripe is one of the main payment provider used

_How important is this for you?_

[2022-05-31 14:32] michaelponrajah opened #32 "Group billable metrics and create price dimensions when creating a plan"
## Problem description
Users can't regroup billable metric by geo. location / region or other item (e.g. Cloud infrastructure having different pricing model based on region). Lago is not handling it right now so they can't use and map their current pricing model in the product.

## Useful links
[Discussion around this topic](https://community.getlago.com/t/group-by-function-for-billable-metrics/36

[2022-05-31 14:36] michaelponrajah opened #33 "Define a currency on the customer object"
## Problem description
Improve the Coupon's experience:
1. Coupons applied to customers having a pay in advance are impacted on the next current period.
2. Display the remaining amount left on the Coupon once customer start to use it
3. When creating the coupon, allow user to set if the coupon can be applied multiple time or one time on a unique customer
---

Having the currency on the customer al

[2022-05-31 14:44] michaelponrajah opened #34 "Create a smooth connection between Lago <> Salesforce"
## Problem description
Custom plans can be created in Salesforce by Sales directly with their customer. By creating them, it's not linked to Lago.

_How important is this for you?_

[2022-05-31 15:46] sarkissianraffi opened #35 "Create a charge model applying a percentage (% + fixed rate)"
## Problem description
1. Company using Lago cannot charge a percentage on a usage-based feature
2. It's useful for companies taking a cut out of an amount or a revenue (charity, fintech companies)

_How important is this for you?_

[2022-06-01 19:21] maciejstromich opened #36 "[BUG]: docker images don't have a latest tag"
**Describe the bug**
Docker images are currently published with a v0.1.0-alpha and not latest which means when running `docker-compose up` command fails because it can't pull the containers from Docker Hub
**To Reproduce**
follow steps from https://doc.getlago.com/docs/guide/self-hosting/docker#run-the-app to run selfhosted application

[code]

**Expected behavior**
Docker stack should start

[2022-06-01 22:21] jdenquin commented on #36
thanks for pointing it @maciejstromich.
We were very focus on the release today, we planned to add the latest tag by the end of the week!
I'll build them manually tomorrow but you should use a tagged version, it'll be safer!
We will update the doc in this way!

[2022-06-02 08:31] #36 closed, assigned to jdenquin

[2022-06-02 08:32] jdenquin commented on #36
`latest` version is now tagged, we updated the documentation, you can pull `main`, the `docker-compose.yml` has now the last stable version tagged.

[2022-06-03 12:22] anhtho-lago opened #39 "Clone Algolia's API pay-as-you-go pricing (Template)"
Final template: https://www.getlago.com/resources/templates/algolia

Provide a step by step approach for companies whose pricing fully depends on usage, such as cloud service providers and API companies, that only charge their customers for the resources they consume.

[2022-06-03 12:36] #39 closed, assigned to nobody

[2022-06-03 13:29] sarkissianraffi opened #40 "Event filtering on aggregation types for usage-based billing"
## Problem description

When receiving events, a user is not able to filter it with an existing property.
For example, you receive a billable event anytime there is a new transaction, but you want to filter by transaction having a `completed` status. You don't want to implement the logic on your backend and that's totally fine

We should be able to filter events coming in Lago and bill only filter

[2022-06-03 13:43] sarkissianraffi opened #41 "Custom SQL for billing aggregation types"
## Problem description

Lago supports 4 main aggregation types to aggregate events into billable metrics:
- `COUNT`
- `SUM`
- `MAX`
- `COUNT DISTINCT`

This should cover the majority of cases. But for long tail use cases, you might need to add another aggregation type. This can be done by letting you write custom SQL for incoming events

_How important is this for you?_

[2022-06-03 14:14] michaelponrajah opened #42 "Display in the UI the version/git hash is running (cloud vs. hosted version)"
## Problem description
When users are in Lago, it's hard to know from which version of Lago the app is running

_How important is this for you?_

[2022-06-07 12:19] michaelponrajah commented on #23
## Create a fee that will be charge once on customers is now live in production 🎉

### Useful links
[Documentation](https://doc.getlago.com/docs/guide/addons)
[Changelog](https://doc.getlago.com/changelog/ftr-addons)

[2022-06-07 12:19] #23 closed, assigned to nobody

[2022-06-07 13:12] sarkissianraffi opened #43 "Error webhook on event ingestion"
## Problem description
When triggering an event without `customer_id` or `code`, no error is showing up. It could be great to send an async error reponse via webhook to inform our users

[2022-06-09 09:43] Novarg opened #44 "[BUG]: can't run docker image"
**Describe the bug**
Unable to run docker image via "docker-compose up" as mentioned in docs. See error log in screenshot section.

**To Reproduce**
docker-compose up

**Expected behavior**
Should run lago instance

**Screenshots**
<details>

[code]

[2022-06-09 14:43] jdenquin commented on #44
@Novarg you can check the community post about it
https://community.getlago.com/t/docker-compos-does-no-work-out-of-the-box/54/16

We're working on a documentation improvement!

[2022-06-09 14:45] jdenquin commented on #44
sum up of action to do

[code]

⚠️ If you want to run a production environment with docker-compose, you should save your `RSA_PRIVATE_KEY` somewhere

[2022-06-10 09:49] #44 closed, assigned to jdenquin

[2022-06-15 11:49] sarkissianraffi opened #46 "Add `weekly` interval to the billing periods"
## Problem description
It's only possible to create invoices on a monthly or yearly basis. But some companies might be able to charge their customers on a weekly basis.

[2022-06-16 04:52] prognostikos opened #47 "[FEAT]: Ability to disable signup"
For those of us who are self-hosting, allowing signup after the initial organization(s) are created doesn't make sense.

One solution would be to set an environment variable, e.g. `LAGO_SIGNUP_DISABLED` which would remove the ability to signup on both the front-end and graphql. Or maybe there's already some feature flagging system that could be used instead.

We are willing to do the work if a PR

[2022-06-16 05:14] prognostikos opened #48 "[FEAT]: add Event show API endpoint"
We want to be 100% sure that our events have been created as our revenue depends on it. The current system optimizes for throughput by enqueuing a Sidekick job in Redis to create the event. Depending on the Redis configuration, [there is a possibility of losing data if Redis crashes before the job can be worked](https://redis.io/docs/manual/persistence/#how-durable-is-the-append-only-file). And un

[2022-06-16 14:02] vincent-pochet commented on #47
Hello @prognostikos,

Thank you for the suggestion and contribution proposal.

Indeed it makes perfect sense in a self-hosting scenario. For now, we do not have such feature flag.

As you are suggesting, a flag stored in an environment variable could perfectly do the job.
It's not on our roadmap for now, but we would be happy to review and merge a PR if you want to work on it on your side.

Cheers

[2022-06-16 14:54] vincent-pochet commented on #48
Hey @prognostikos,

We recently introduced two features to improve confidence in event ingestion:
- The [event debugger](https://doc.getlago.com/docs/guide/events/debugger)
- `event.error` webhook for failed events: https://github.com/getlago/lago-api/pull/252

But we are aware that it does not guaranty that all events will be processed in case of Redis outage or misconfiguration.

Having a webhoo

[2022-06-17 05:40] prognostikos commented on #48
Thanks @vincent-pochet the debugger looks useful.

I understand that not everyone would want to get the event.created webhook and right now it's not possible to configure which events are sent to a webhook endpoint nor to have multiple endpoints.

For us an API endpoint where we can GET on say `transaction_id` would work. We would probably just setup a job in our system to confirm each ingested ev

[2022-06-17 08:07] vincent-pochet commented on #48
Thanks @prognostikos for your contribution proposal.

I agree that a `GET /api/v1/events/:transaction_id` looks like a simple solution for your need.
Let me discuss it with the product and tech teams and I will get back to you today.

[2022-06-17 08:07] michaelponrajah commented on #25
## `Log charges events in the app` is now live in production 🎉

### Useful links
[Documentation](https://doc.getlago.com/docs/guide/events/debugger)
[Changelog](https://doc.getlago.com/changelog/event-debugger)

[2022-06-17 08:07] #25 closed, assigned to nobody

[2022-06-17 08:11] michaelponrajah commented on #35
## `Create a charge model applying a percentage (% + fixed rate)` is now live in production 🎉

### Useful links
[Documentation](https://doc.getlago.com/docs/guide/plans/charges#the-percentage-charge-model)
[Changelog](https://doc.getlago.com/changelog/percentage-charge-model)

[2022-06-17 08:11] #35 closed, assigned to nobody

[2022-06-17 08:16] michaelponrajah commented on #26
## `Bill Charges monthly on a yearly plan` is now live in production 🎉

### Useful links
[Changelog](https://doc.getlago.com/changelog/billable-metric-monthly-for-plan-yearly)

[2022-06-17 08:16] #26 closed, assigned to nobody

[2022-06-17 08:45] vincent-pochet commented on #48
After discussing internally, we think that adding a new API route is the easiest way to move forward with it for now.

We will probably improve the webhook side in the future, but not in the short term.

If you want to take care of this dev, we would be pleased to review and merge it in the main branch for future release :rocket:

[2022-06-17 15:55] #48 closed, assigned to nobody

[2022-06-21 15:10] maciejstromich opened #49 "[FEAT]: OAuth2 authorization"
**Is your feature request related to a problem? Please describe.**
Many of the organizations already have a IdP available. Lago could leverage e.g. OAUTH2 (as it's currently one of the most popular protocols) to give ability to authorize API requests and give ability to login via the frontend which could potentially be beneficial in case of other features like giving access to usage/invoicing data

[2022-06-21 21:16] jerbob92 opened #50 "[FEAT]: Allow multiple plans per customer"
**Is your feature request related to a problem? Please describe.**
It would be nice to be able to assign multiple plans to the same customer, to have a separate plan per product.

[2022-06-21 21:19] jerbob92 opened #51 "[FEAT]: Allow creating an invoice out of cycle"
**Is your feature request related to a problem? Please describe.**
Sometimes it would be nice to force creating an invoice before the billing cycle end, for example to immediately create an invoice for a one-off add-on that has been added.

[2022-06-21 21:20] jerbob92 opened #52 "[FEAT]: Allow doing an invoice dry-run"
**Is your feature request related to a problem? Please describe.**
It would be nice to be able to create a dry-run invoice to test what kind of invoice would be created when an invoice would be created at date *x*

[2022-06-22 08:11] sarkissianraffi commented on #51
Hi @jerbob92,
We have already this feature, at least it's a feature really close to what you are describing. It's related to this [issue](https://github.com/getlago/lago/issues/23).

We called this feature **add-ons**: it allows you to create a one-off fee that is invoice straight away.

- Documentation guide: https://doc.getlago.com/docs/guide/addons
- API Ref: https://doc.getlago.com/docs/api/ap

[2022-06-22 08:17] sarkissianraffi commented on #50
It would be great to dig into this use case with you, to make sure we can create the perfect feature. We already had this request for the cloud version. Do you mind to reach out to raff@getlago.com or hello@getlago.com, so we can plan this?

Thanks a lot

[2022-06-22 08:23] sarkissianraffi commented on #49
Hi @maciejstromich, very clear description thanks.
We are currently assessing this feature during our tech daily. We'll come back to you soon.
Thaks

[2022-06-22 08:39] jerbob92 commented on #51
Hi @sarkissianraffi

I think my description maybe wasn't clear enough. I know about the add-ons (I also refer to them in the description).
I'm talking about actually generating the invoice itself out of the billing cycle. So a button that says "Create Invoice now" that would get all the usage + add-ons that are unbilled to that point and then generate the invoice.

[2022-06-22 08:40] jerbob92 commented on #50
Thanks! Mathieu contacted me on LinkedIn so I will pick this up with him.

[2022-06-22 09:28] sarkissianraffi commented on #51
Got you! Let's dig into it as this has impact on the way charges are distributed into invoices (for instance, what happens to usage happening after the invoice finalized in advance?).
Reaching out to dig deeper into your requests (probably gathering chats with Mathieu); Thanks!

[2022-06-22 16:37] sarkissianraffi commented on #51
Hi @jerbob92, based on the discussion we had, we investigated on the bug for add-ons invoicing. It seems to work well on our side for all environments. Here is a [Loom link](https://www.loom.com/share/e5a7b3e383914642955701024196c073) showing you how I managed to test it. Can you do the same tests so we can unblock you?
Thanks a lot!

[2022-06-22 18:15] jerbob92 commented on #51
Hi @sarkissianraffi
Just tested it again, I can confirm that the invoice appears after a refresh!

[2022-06-23 07:51] #51 closed, assigned to nobody

[2022-06-23 07:54] sarkissianraffi commented on #51
Hi @jerbob92, great! We'll work on improving this invoice's display. If any issues on the frontend side, you can use the webhook to catch invoice created, both for subscriptions & add-ons. In the meantime, we work actively on the other feature requests (as they were already plan for this dev cycle). We will reach out when everything is ready to be deployed!
Thanks

[2022-06-23 10:57] maciejstromich opened #55 "[FEAT]: Ability to replace Sidekiq to Shoryuken Worker"
**Is your feature request related to a problem? Please describe.**
Because Sidekiq is a Redis based worker and in AWS environments running a Redis service can be quite expensive I would propose to give ability to choose a different worker in an configurable-Interface-way so the backward compatibility is preserved. This would give possibility to use Shoryuken as a drop in replacement.

Shoryuken us

[2022-06-23 12:48] lovrocolic commented on #55
Hey @maciejstromich,

Thanks for your suggestion.

We will discuss it internally and come back to you soon!

[2022-06-24 08:37] lovrocolic commented on #55
Hey @maciejstromich,

We are following a planned roadmap for the next 6 weeks, but we consider improving this on the tech side afterwards.

Hope this works for you!

Regards

[2022-06-28 14:46] sarkissianraffi opened #56 "Create a subscription on a specific date (anniversary date)"
## Problem description
It's currently not possible to:
- Add a subscription at a specific date (in the past or in the future)
- Invoice subscription at an anniversary date

[2022-06-28 14:49] sarkissianraffi opened #57 "Overwrite plan and charges for a specific customer"
## Problem description
Some users requested the possibility to overwrite a plan & charges amount for a specific customer, without having to recreate a new subscription.

[2022-06-28 14:52] sarkissianraffi opened #59 "Create a credit note for a specific invoice"
## Problem description
Lago offers coupons to give a discount on a next invoice. But there is no possibility to create a credit note for a past invoice.

[2022-06-28 14:54] sarkissianraffi opened #60 "Open API endpoints to use Lago either with the API only or in whitelabel"
##Problem description
Creating a plan or a billable metric is doable from the UI. But some users want to use the API only to use the full billing solution offered by Lago

[2022-06-29 00:48] packetlost commented on #29
Top Issue for me! <3

[2022-06-29 06:26] prognostikos commented on #60
This is something we've considered adding as well, as we have 80+ plans to add with several billable metrics for each at different price points

[2022-06-29 06:30] prognostikos commented on #47
@vincent-pochet @jdenquin I will add this today, but would like a confirmation that I'm doing it the right way as I've not used GraphQL before.

From what I can see adding a `.visible?` class method in the `Mutations::RegisterUser` mutation would be the way to block this feature from use depending on the ENV var.

Do I  also need make a change on the front-end to hide the `sign up` link? Or will t

[2022-06-29 06:35] prognostikos commented on #55
More generally it could be nice to support any ActiveJob adapter.

From what I can see this should be possible with a minimum of changes as the jobs I have looked at only use ActiveJob features and nothing specific to Sidekick, so introducing an ENV var for job backend and then conditionally loading the relevant gems based on the ENV var should work.

We are fond of Que or GoodJob which use Postgr

[2022-06-29 10:06] prognostikos opened #61 "[FEAT]: Support billing in customer timezones"
From what I can tell Lago currently selects events to be used to calculate fees, etc. by selecting all fees in a given month/year/(etc) time range. However, the time zone used for that select seems to be the system timezone, which will default to UTC in Rails unless configured otherwise.

We have customers in different timezones, and we currently bill customers for usage in their timezone. So a UK

[2022-06-29 16:02] michaelponrajah commented on #29
Hey @packetlost 👋
We’re actually working on the feature `prepaid credit`, and I saw it’s a feature that you actually need.

👉 By any chance, do you have 15' min to
1. discuss about your need; and
2. present you the prototype of the experience ?

My calendar is pretty free so tell me what suits you the best, you can reach me at michael@getlago.com

[2022-06-29 16:46] packetlost commented on #29
I am seeking to remove Amberflo from the design of an API gateway. I love
what you are doing with Lago; disruptive. The only issues that I see are
the prepaid credits and the scantness of integrations;
 Stripe, Lambda, aws cognito. I feel like Lago is a perfect drop-in
solution for API metering as a Lambda function or Lambda Layer.

PS
For the record, the second that I saw the term "rent-seeking"

[2022-06-30 18:06] sarkissianraffi opened #62 "[FEAT]: Enable to use the same billable metric for several charges"
**Is your feature request related to a problem? Please describe.**
Example from M.T (one of our users): Imagine you want to charge your customer monthly for active users (standard unit pricing). You also want to charge your customer for support, based on number of active users as well, but capped (for example graduated pricing, flat fee, last tier = 0 EUR).”

**Describe the solution you'd like**
U

[2022-07-01 08:37] vincent-pochet commented on #61
Hello @prognostikos,
Thank you for your raising this point.

Indeed for now Lago is handling events using the timestamp field which is supposed to be an UTC value.

A proper way to address your issue would be to store a `timestamp_in_customer_timezone` along with the actual timestamp and to adapt the billing and aggregation logic to use this field.
This change is not in our short term roadmap, but

[2022-07-01 11:06] prognostikos commented on #61
@vincent-pochet making sure the timestamp is always a UTC value partially works.

Isn't it the case that if fees are always calculated early in the first day of the month UTC it will exclude events that from the customers point of view should be included if the customer timezone has a negative UTC offset? I think Lago will have already calculated the fee for that month even if more events come in

[2022-07-01 11:10] prognostikos commented on #61
Another option would be to make the day of the month where the fees are calculated configurable so that there is a long enough delay between event receipt and fee calculation - today we actually bill on the 4th for activities in the previous month. We are planning to reduce that but it wouldn't be a problem to wait 1 day or however many hours it would take to cover all customers.

[2022-07-04 16:07] michaelponrajah commented on #31
## `Connection between Lago <> Stripe payment` is now live in production 🎉

### Useful links
[Documentation](https://doc.getlago.com/docs/guide/stripe-integration)
[Changelog](https://doc.getlago.com/changelog/stripe-integration)

[2022-07-04 16:07] #31 closed, assigned to nobody

[2022-07-04 16:12] michaelponrajah commented on #46
## `Add weekly interval to the billing periods` is now live in production 🎉

### Useful links
[Changelog](https://doc.getlago.com/changelog/weekly-interval)

[2022-07-04 16:12] #46 closed, assigned to sarkissianraffi

[2022-07-05 05:18] sarkissianraffi opened #64 "Add several plans for the same customer (Heroku like model)"
## Problem description
For now, a customer can only have one plan and one subscription assigned. But some companies need an "Heroku like" pricing, with multiple plans assigned to a customer.

[2022-07-05 05:23] #43 closed, assigned to jdenquin, lovrocolic, sarkissianraffi

[2022-07-05 05:25] sarkissianraffi commented on #60
Hi @prognostikos! This feature is currently in progress, probably released end of next week. You will be able to create billable metrics directly from the api. Keep in touch 🚀

[2022-07-07 23:34] chendo commented on #29
@michaelponrajah our system also uses a prepaid credit system and we would like to move to Lago. Happy to chat about needs and the like. Should I reach out by email as well?

[2022-07-08 07:47] michaelponrajah commented on #29
Hey @chendo thanks for the interest and sharing your knowledge, you can reach me by email of course, in // @mathieu-lago will reach you on twitter also to share contact if email is not the best channel! 🙏

[2022-07-08 14:34] vincent-pochet commented on #61
@prognostikos Sorry for the late answer on this topic.
Indeed, I think the easiest way to support this for now would be to change the default billing day or to make it editable. We are discussing it internally and we will come up with a solution soon.

Thank you for your patience.

[2022-07-08 14:40] ansmonjol commented on #47
Hey @prognostikos,

Thanks a lot for your proposal.

I'll handle the front-end side and
- hide the signup link
- prevent accessing the signup page via URL
when `LAGO_DISABLE_SIGNUP` env variable will be present.

I've discussed with @vincent-pochet and he told me the change you performed on your branch should do the job perfectly 🙌

I'll let you know when I'm done on my side.

Thanks again, also f

[2022-07-11 09:49] ansmonjol commented on #47
@prognostikos I've open a MR on the frontend app https://github.com/getlago/lago-front/pull/236
Once merged you will be able to test your changes using the last front version on main branch.

[2022-07-13 19:45] #9 closed, assigned to MorganeLecurieux

[2022-07-13 19:46] #6 closed, assigned to lovrocolic

[2022-07-13 19:46] #42 closed, assigned to nobody

[2022-07-13 19:47] #27 closed, assigned to nobody

[2022-07-14 20:21] hampsterx opened #67 "[FEAT]: Reverse a charge"
Our Scenario: Customers get charged a commission (billable unit) but very ocassionally we want to revert that charge when the transaction is cancelled.

We thus need to be able to either send the same event again but have Lago know to revert the charge or an API endpoint perhaps?

The complexity also is that these customers are on a Graduated charge model. Thus if there are charges after that one

[2022-07-15 09:13] sarkissianraffi commented on #67
Hi @hampsterx, that's a good feature request, thanks a lot!
What if the event reverted belong to a former billing period (and has already been invoiced)? We just ignore it? (ie: the event, to be reverted, has to be in the current period?). When the charge is running under the current period, we could be able to recalculate everything when an event is reverted, regardless the price model (graduated

[2022-07-15 16:03] #60 closed, assigned to sarkissianraffi

[2022-07-17 00:29] hampsterx commented on #67
hi @sarkissianraffi , well that was another question I had. What happens when you back populate events (previous billing periods)? In our case we have graduated tier that are multiple year but regardless for the current year they are partway through so we need to ensure when we migrate to Lago that they are at the correct usage going forward. Pretty sure this is fine though just the invoice will o

[2022-07-18 13:21] sarkissianraffi opened #68 "Go Client library"
## Problem description

Users using Go as a backend language can use Lago with the basic methods. However, they don't have a specific API Client to ease the implementation (as we do for Ruby, Node or Python)

[2022-07-18 13:24] sarkissianraffi opened #69 "Native connection with a Direct Debit PSP (Gocardless)"
## Problem description

A native connection has been created between Lago & Stripe. This is useful to get paid with credit cards or wires when a Lago invoice is emitted. However, it's not possible to use a Direct Debit payment provider. It could be very useful for our users if they want to get paid with direct debits, directly on their customers' accounts.

[2022-07-19 18:07] anhtho-lago opened #70 "[FEAT]: Add the possibility to connect several Stripe Accounts"
**Is your feature request related to a problem? Please describe.**
Some companies have several Stripe Accounts : one for the US company, one for the EU company etc

**Describe the solution you'd like**
Be able to connect Lago to several Stripe accounts

**Additional context**
Shared by Paul from Supabase

[2022-07-20 16:37] sarkissianraffi commented on #60
This feature has been release => https://doc.getlago.com/changelog/new-api-endpoints

[2022-07-20 16:38] sarkissianraffi commented on #42
This feature has been released => https://doc.getlago.com/changelog/app-version

[2022-07-20 16:38] #28 closed, assigned to nobody

[2022-07-20 16:39] sarkissianraffi commented on #28
This feature has been released. You can find:
1. The changelog => https://doc.getlago.com/changelog/download-invoices
2. The API endpoint => https://doc.getlago.com/docs/api/invoices/download-invoice
3. The API guide => https://doc.getlago.com/docs/guide/invoicing/download-invoices

[2022-07-20 16:41] sarkissianraffi commented on #27
This feature has been released. You can find:
1. The changelog => https://doc.getlago.com/changelog/current-usage
2. The API Ref => https://doc.getlago.com/docs/api/customer_usage/customer-usage
3. The guide => https://doc.getlago.com/docs/guide/customers#displaying-customer-current-usage

[2022-07-25 15:54] #47 closed, assigned to nobody

[2022-07-25 15:55] vincent-pochet commented on #47
This feature will be part of the next  0.5.0-alpha release

[2022-08-03 09:30] sarkissianraffi opened #77 "Incremental & Decremental Events (keep persistency on recurring billing metric)"
## Problem description
For now, you need to send events for each period, including when the metric to be charged is recurring period over period. Let's take the example of `credit cards`, `user seats`, or `integration connected`. They are consumed once, but they are also persistent period over period, unless an unusual event deprecates it.
Lago should be able to keep this persistent metric in memo

[2022-08-03 09:40] sarkissianraffi opened #78 "Prices Caps and Prices Minimums"
## Problem description
Subscriptions and charges are billed with a defined price model (standard, package, graduated, percentage). However, over-consumption does not mean that your customers have an unpredictable pricing. Lago should handle a full logic of price minimums and price caps. No surprise for you, no surprise for your customer.

[2022-08-03 09:43] sarkissianraffi opened #79 "Create % discount coupons and recurring coupons"
## Problem description

For now, Lago does not support
- coupons in % (percentage of a price that needs to be deducted for a period of time)
- recurring coupons period over period till expiry date is hit
- coupons applied to a specific subscription or plan

Let's improve this!

[2022-08-03 09:46] sarkissianraffi opened #80 "Display a custom charge name in an invoice"
## Problem description

A billable metric can be reused in several charges. However, the same name will be displayed in the invoice, which is confusing. Lago should allow to display a custom charge name in invoices

[2022-08-03 11:52] stsajid opened #82 "Unable to Install my own SSL Certificate in "lago-api" Docker Container."
Hi,
I have deployed lago through Docker on my AWS EC2 Instance.
Now the problem is if I set my LAGO_FRONT_URL and LAGO_API_URL to my instance's public IPv4,  I can succesfully login but cannot copy the api from the Copy API button. getting the error <b>"Cannot read properties of undefined (reading 'writeText')"<b>

So I looked into this error and found that my frontend and api should be on "HTTPS"

[2022-08-03 13:40] jdenquin commented on #82
Hello @stsajid,

It should be better for you to use a proxy in front of the API and the Front end so you can easily use your own SSL certificate.
You can take a look at `traefik` like we do on our development environment, it's pretty easy to setup, or you can use an AWS ELB in front of your EC2.

Do not hesitate to join our [Slack](https://lago-community.slack.com/ssb/redirect) then we can discuss

[2022-08-05 15:54] c-nv-s opened #84 "[FEAT]: create a smooth connection to Mollie payment provider"
just as you have a great integration with stripe, a nice integration with Mollie https://www.mollie.com  would be amazing!

n.b. they already have an active ruby-client https://github.com/mollie/mollie-api-ruby

[2022-08-07 21:53] sarkissianraffi commented on #84
Hi @c-nv-s, very clear thanks! The plan is to add more and more native integrations, including PSPs like Mollie. We'll try to make it fit within the roadmap and will tell you whenever it's prioritize. If you want to have closer contacts with the team, please join https://getlago.com/slack (if your not in already). Thanks!

[2022-08-07 23:01] c-nv-s commented on #84
Thanks I'll keep an eye out.
Mainly using Discord not Slack but thanks anyway

[2022-08-08 11:39] c-nv-s opened #87 "[BUG]: copy api key to clipboard error"
**Describe the bug**
click to copy api key functionality does not work on firefox 91

error message in console:
Uncaught (in promise) TypeError: navigator.clipboard is undefined

**To Reproduce**
Steps to reproduce the behavior:
Menu > developers > apikeys
click on copy button and observe console in browser developer tools

**Expected behavior**
API key is copied to system clipboard

**Screenshots

[2022-08-08 15:11] ansmonjol commented on #87
Hello @c-nv-s,

Thanks a lot for reporting this issue 🙂

In order to make sure you're not experiencing an issue related to your environment, can you try to update your browser to the latest version please ?

If the issue persists, can you tell us if you're in development mode in local or using a different environment ?

If you want to have a direct chat with us, feel free to join our [Slack commun

[2022-08-08 17:42] c-nv-s commented on #87
I am on the latest firefox version for the default OS and using private browsing.
regarding dev mode or different environment: I am running straight from the docker-compose.yml file inside a virtual machine with only the domain changed from "localhost" to a custom local domain and changed the exposed port from 80, 443 to  8080, 8443.
I am running 0.4.0-alpha (because 0.5.0 lago-api doesn't run and

[2022-08-09 08:13] ansmonjol commented on #87
Thanks for all the details! Very helpful.

Our best guess is that you may have "removed" the secure navigation (https) with the port forwarding somehow. Could that be the case? Clipboard API seems to be strictly limited to work only on localhost or over secure connection. See https://web.dev/async-clipboard/#security-and-permissions

As a side note, `lago-api v0.5.0` indeed has an issue and a fix

[2022-08-09 08:23] c-nv-s commented on #87
OK thanks for the info on the clipboard api, that is likely the issue so I will close this ticket and only report again if it still exists after setting up lago over https

[2022-08-09 08:23] #87 closed, assigned to ansmonjol

[2022-08-09 09:08] ansmonjol commented on #87
BTW a [new version](https://github.com/getlago/lago-api/releases/tag/v0.5.1-alpha) of API have just been merged. It should fix the error you faced

[2022-08-09 13:33] #68 closed, assigned to jdenquin

[2022-08-11 08:44] jdenquin commented on #82
@stsajid any update on this? 🙏

[2022-08-11 11:20] stsajid commented on #82
Yes I have resolved this issue by re-dockerizing the lago-api image. I dockerized the api code on an Apache-Ubuntu Image. and Installed the certificate their.
Created a virtual host in the new dockerized lago-api docker container with a different port.
I installed the certificated directly through ruby i-e
 ( <b> puma -b 'ssl://0.0.0.0:3000?key=path_to_key.key&cert=path_to_cert.crt&verify_mode=non

[2022-08-11 12:25] #82 closed, assigned to jdenquin

[2022-08-11 12:33] stsajid opened #88 "POST Internal Server 500 Error on Adding Customer or viewing Customer"
I have installed my own certficate in lago-api container through <b> puma -b 'ssl://0.0.0.0:3000?key=path_to_key.key&cert=path_to_cert.crt&verify_mode=none&ca=path_to_root_bundle.crt'</b>

Everything is working fine but when I Add Customers or view them I get POST (https://[my-Lago-api-URL]:3000/graphql) 500 Internal Server Error.

Although the api seems to be working fine because every other func

[2022-08-11 13:02] vincent-pochet commented on #88
Hello @stsajid and thank you for your report.

What version of Lago are you using?
We recently published a new version for lago-api (v0.5.2-alpha)

[2022-08-11 13:26] #8 closed, assigned to nobody

[2022-08-11 13:29] sarkissianraffi commented on #50
Hey @jerbob92, closing this issue because this feature is going to be released today.
Here are useful documentation links:
**- Changelog:** https://doc.getlago.com/changelog/multiple-plans
**- Guide:** https://doc.getlago.com/docs/guide/plans/subscription#multiple-plans

Hope it will be useful for your use case!

[2022-08-11 13:29] #50 closed, assigned to nobody

[2022-08-11 13:58] vincent-pochet commented on #88
@stsajid to give us more context to find the source of the error, could you check in the logs of the API (with `docker-compose exec api tail log/production.log` command) for any `FATAL` error tag and sent it in here?

**NOTE:** Be careful before sending it as the logs might contain sensitive information from your system

[2022-08-11 21:57] c-nv-s opened #90 "[FEAT]: support aws-compatible s3 providers"
**Is your feature request related to a problem? Please describe.**
there are plenty of AWS-compatible S3 providers like https://github.com/minio/minio
they just need the base URL endpoint specifiying in the config along with the other existing s3 config variables...
not sure how much that will effect the existing implementation or how difficult it will be to change though.

[2022-08-12 06:11] stsajid commented on #88
I am using the latest version as I started using Lago in a production environment a week ago.

I checked my api logs and getting the following errors when I view a created Customer.

<b> FATAL -- : [a20499e1-cd7e-40c4-9833-da247aa39516]
[a20499e1-cd7e-40c4-9833-da247aa39516] ActiveRecord::StatementInvalid (PG::UndefinedColumn: ERROR:  column invoices.customer_id does not exist
LINE 1: SELECT "invo

[2022-08-12 07:14] vincent-pochet commented on #88
Hi @stsajid thank you very much for the error message.

It looks like some database migration were not performed correctly on your system.
We had some similar issues lately and we are working on enforcing our database migration process to prevent them.

Could you try the following command and try again to retrieve the customer list:
[code]

[2022-08-12 08:26] vincent-pochet commented on #90
Hello @c-nv-s thanks for bringing back this topic!

I've opened two Pull requests to address this request.
Hopefully it will be merged and released today as we are planing to release a new minor version

[2022-08-12 10:01] vincent-pochet commented on #90
Hi @c-nv-s,

The support for `LAGO_AWS_S3_ENDPOINT` environment variable has been released in v0.5.3-alpha

[2022-08-12 10:01] #90 closed, assigned to nobody

[2022-08-12 10:23] stsajid commented on #88
Hi @vincent-pochet , Yeah some of the database migrations were not performed. I ran the command you mentioned and now the Customers module is working fine ! Thank you so much for helping out with this issue. Kudos !

[2022-08-12 10:23] #88 closed, assigned to vincent-pochet

[2022-08-15 10:05] sarkissianraffi commented on #64
Hi all, with the new version of Lago, you can now create multiple plans per customer, and build a Heroku-like pricing.
It's very useful when you want to bill different workspaces/repos/projects for the same customer.
- Changelog: https://doc.getlago.com/changelog/multiple-plans
- Documentation guide: https://doc.getlago.com/docs/guide/plans/subscription#multiple-plans

[2022-08-15 10:05] #64 closed, assigned to sarkissianraffi

[2022-08-16 08:13] sarkissianraffi opened #92 "Add free units and fixed units to the percentage pricing model"
## Problem description

The percentage pricing is always related to an amount (1% x 1000 USD, for instance). However, we might need to apply free units or a fixed charge to the number of transactions received. This information comes from the number of events ingested during a period.

[2022-08-16 10:41] #62 closed, assigned to sarkissianraffi

[2022-08-25 17:03] smashah commented on #84
+1 for mollie. +2 for discord - I'm interested in long term being part of the lago community but don't want to keep memory-hog slack opened just for lago. Please consider migrating community to discord @sarkissianraffi thanks

[2022-08-25 17:08] michaelponrajah commented on #56
## `Create a subscription on a specific date (anniversary date)` is now live in production 🎉

### Useful links
[Documentation](https://doc.getlago.com/changelog/anniversary-date)
[Changelog](https://doc.getlago.com/changelog/anniversary-date)

[2022-08-25 17:08] #56 closed, assigned to michaelponrajah

[2022-08-25 17:11] michaelponrajah commented on #92
## `Add free units and fixed units to the percentage pricing model` is now live in production 🎉

### Useful links
[Documentation](https://doc.getlago.com/changelog/free-units-percentage-model)
[Changelog](https://doc.getlago.com/changelog/free-units-percentage-model)

[2022-08-25 17:11] #92 closed, assigned to rsempe, sarkissianraffi

[2022-08-27 20:06] simenandre opened #93 "Pulumi deployment code"
I love infrastructure as code, and we're trying out Lago for one of our customers. Therefore, we made some Pulumi code to deploy Lago to Kubernetes. Would that be something you'd like to be added somewhere? We can share it with you if you'd like.

We could even help contribute by creating a [multi-language Pulumi component](https://www.pulumi.com/blog/pulumiup-pulumi-packages-multi-language-compon

[2022-08-28 15:18] jdenquin commented on #93
Hello @cobraz !

We can definitely create a repository for this if that works for you!

[2022-08-28 15:49] simenandre commented on #93
Sure thing! 👍

[2022-08-29 08:11] jdenquin commented on #93
https://github.com/getlago/lago-pulumi here you are!

[2022-09-02 07:50] michaelponrajah commented on #29
## `Create prepaid credits system` is now live in production 🎉

### Useful links
[Documentation](https://doc.getlago.com/docs/guide/prepaid_credits)
[Changelog](https://doc.getlago.com/changelog/prepaid-credits)

[2022-09-02 07:50] #29 closed, assigned to nobody

[2022-09-02 07:55] michaelponrajah opened #96 "Create a charge model for volume consumption"
# Problem description
Customer can not create a volume pricing to charge the same price for each unit based on the total number of units consumed.

[2022-09-02 08:01] michaelponrajah commented on #96
## `Create a charge model for volume consumption` is now live in production 🎉

### Useful links
[Documentation](https://doc.getlago.com/docs/guide/plans/charges#volume-charge-model)
[Changelog](https://doc.getlago.com/changelog/volume-charge-model)

[2022-09-02 08:01] #96 closed, assigned to nobody

[2022-09-02 08:13] sarkissianraffi commented on #29
@chendo @packetlost This prepaid credits feature is now live! 🔥 We can jump on a quick call if you need 🤙

[2022-09-02 09:12] michaelponrajah opened #97 "Invite and revoke member in organisation"
## Problem
It's currently impossible without asking to Lago to invite a new member in the existing organisation. So Lago has to manually invite member and setup the new member password.

[2022-09-02 09:16] michaelponrajah opened #98 "Apply subscription on a specific (past and future) date"
## Problem

It's hardly doable to migrate existing customer with subscriptions in Lago as the product can't hold past subscription date than the one applied in the app.

[2022-09-06 09:35] sarkissianraffi opened #99 "Invoice grace periods and payment grace periods"
## Problem description

For now, an invoice and a payment are emitted instantly. Some users want to have a custom delay to trigger them.

[2022-09-07 15:44] gridworkz opened #100 "ARM64 docker-compose"
Is there an ARM64 version of docker-compose available by any chance?

[2022-09-08 07:37] jdenquin commented on #100
We are working on it and it should be available very soon!

[2022-09-08 13:50] gridworkz commented on #100
Cool, thanks for the update.

[2022-09-12 11:14] TarekMahran commented on #100
+1

[2022-09-13 09:51] jdenquin commented on #100
Hello guys,

Here is the `docker-compose` file for ARM64 support!
https://github.com/getlago/lago/blob/main/docker-compose.arm64.yml

I close this issue, do not hesitates if you have some questions around it!

[2022-09-13 09:51] #100 closed, assigned to jdenquin

[2022-09-13 14:21] michaelponrajah commented on #77
## `Incremental & Decremental Events` is now live in production 🎉

### Useful links
[Documentation](https://doc.getlago.com/docs/guide/billable-metrics/aggregation-types#persistent-aggregation-types)
[Changelog](https://doc.getlago.com/changelog/recurring-count)

[2022-09-13 14:21] #77 closed, assigned to sarkissianraffi

[2022-09-13 15:26] gridworkz commented on #100
That's wicked! Cheers, Dave

On Tue, Sep 13, 2022 at 5:52 AM Jérémy Denquin ***@***.***>
wrote:

[2022-09-15 13:24] sarkissianraffi opened #103 "Dump Lago data into data warehouses"
## Problem description
It's currently not possible to dump Lago's data into warehouses to query it for revenue analysis, or data activation

[2022-09-15 13:26] sarkissianraffi opened #104 "Send invoices and retries by email directly from Lago"
## Problem description
Currently, you need to connect your own emailing tool to send invoices or retries when an invoice is not paid. We want to ease your life by sending invoices directly from Lago

[2022-09-15 13:27] sarkissianraffi opened #105 "Edit or delete a past event"
## Problem description
It's not possible to edit or delete a past event. It could be useful if you want to revert a metered unit that you don't want to take into account

[2022-09-15 16:48] mtews commented on #30
When I understand it correctly, this would be important for charging support hours as well, right?

[2022-09-15 16:55] mtews commented on #105
This sounds a bit dangerous to me, such features should be handled with a lot of care at the very least. I think we want to have a system that is 100% tamper-proof and 100% audit-proof at all times (as long as it is in production), but as long as that remains provided...

[2022-09-15 16:57] mtews commented on #98
Yes. This is absolutely 100% necessary if you want to get companies with existing subscriptions on board.

[2022-09-15 17:01] mtews commented on #34
We'd prefer an integration with HubSpot ;-) Actually, I think enabling sales people to create custom plans is an important feature especially for B2B companies, as we practically do this for 50% of our customers.

[2022-09-20 00:22] gridworkz opened #107 "Can't turn on Signup"
I'm running locally and I wanted to turn on the SignUp / Register feature. I set: `LAGO_DISABLE_SIGNUP=false` in the `.env` file from the main `lago` directory. Whatever I try, the SIgnup button is always greyed out. What could I be missing? Cheers, Dave

[2022-09-20 07:57] jdenquin commented on #107
Hello @gridworkz

The SignUp feature is activated by default, let's check if your configuraton is ok!
Did you changed any env var value? the `LAGO_DISABLE_SIGNUP` is empty by default, you can remove it from the `.env` file you created.

[2022-09-20 15:44] gridworkz commented on #107
sorry, I'm a bonehead. I just wasn't entering in enough password characters to satisfy the security criteria - once I met all the password criteria the Signin lit up!

[2022-09-21 07:56] michaelponrajah commented on #107
Hey @gridworkz, interesting to see this behaviour, I'm logging it and see how we can improve it if it occurs again! It the meantime, I'll close this issue, feel free to reach us if you need anything :)

[2022-09-21 07:56] #107 closed, assigned to jdenquin

[2022-09-25 02:18] m0un10 opened #109 "[BUG]: Self-hosted version can't be used when following the instructions as documented."
**Describe the bug**

When following the instructions, it's not possible to create an API key.

**To Reproduce**
Steps to reproduce the behavior:
1. Following instructions [here](https://doc.getlago.com/docs/guide/self-hosting/docker)
2. After the docker-compose is up, go to `http://localhost`
3. It takes you to a login page.

**Expected behavior**

The documentation says after `docker-compose up`

[2022-09-25 08:53] sarkissianraffi commented on #109
Hi @m0un10,
This is not related to a bug. I've updated the [documentation](https://doc.getlago.com/docs/guide/self-hosting/docker#signing-up) consequently.
It's mandatory to sign up your organization when using Lago with the self hosted version. The reason is that this organization is the core piece of the billing. It will be used to invoice your customers, invite other team members, create plans

[2022-09-25 08:53] #109 closed, assigned to nobody

[2022-09-25 14:10] promentol commented on #109
I also don't see sign up link
from codebase I found it, /sign-up, but it's showing Page not found
I have verified, LAGO_DISABLE_SIGNUP=false, in my env variables, in docker container.
Tried on latest codebase from this repository

What can we do?

[2022-09-25 18:54] sarkissianraffi commented on #109
@promentol, we have solved similar issues for other users. If you join our [Slack community](https://join.slack.com/t/lago-community/shared_invite/zt-1br015s0y-y_ItVfZrjkNsf9OHY_eUJw) you can jump directly into this https://lago-community.slack.com/archives/C03MCH55EL8/p1663583396632829

[2022-09-26 14:01] jdenquin commented on #109
@promentol @m0un10 it's fixed on the last lago's front version `v0.10.1-alpha`
You can just pull the lago repo and restart all you docker containers!

[2022-09-28 14:45] jakubmirejovsky opened #110 "[FEAT]: deployment with nginx alongside other domains"
Hi, can we get a guide how to install Lago for use under nginx?
We have a Ubuntu server with multiple apps, each running on its own port. We use nginx for proxying domains to localhosts.
When I try to docker compose up Lago, I'm getting error with port 443 being in use.

I'm wondering if there is any way to install Lago with no public ports (no 80 or 443, only 3000)?

Thanks! :)

[2022-09-28 15:33] jdenquin commented on #110
Hello @jakubmirejovsky

We already use NGINX for the Front end docker image.
You can change the port forwarding into the `docker-compose.yml` file like this :

[code]

So the front end will be available on the `3001` port and no more `80` and `443`. Tell me if it helps and if you need more help around this!

[2022-09-28 17:09] jakubmirejovsky commented on #110
Thank you!
After some additional digging, this is what I've done to get it up and running:

I set up two separate virtual hosts on my server's nginx config. Here is a sample:
[code]

I did the same for Lago's backend API. (= I have two public-facing domains, eg. mylago.com and api.mylago.com).

I then edited the .env of Lago, I added:
`LAGO_API_URL=my-backend-public-domain.tld`

This way the docke

[2022-09-29 09:08] jdenquin commented on #110
Awesome!

I've never digged into this kind of configuration right now but I'll add it somewhere in our documentation.

For the CORS issue you have to update the `LAGO_FRONT_URL` at the `api` level to your current front domain!

[2022-10-10 07:46] michaelponrajah commented on #33
## `Define a currency on the customer object` is now live in production 🎉
It will allow customer to support a coupon / add-on / wallet before having a subscription.
### Useful links
[Changelog](https://doc.getlago.com/changelog/customer-currency)

[2022-10-10 07:46] #33 closed, assigned to nobody

[2022-10-10 07:51] michaelponrajah commented on #79
## `Create % discount coupons and recurring coupons` is now live in production 🎉
Coupons got a new method, you can now apply a percentage coupon on invoices.
Coupons can now have a recurrence on the customer.

### Useful links
[Documentation](https://doc.getlago.com/docs/guide/coupons#create-coupons)
[Changelog](https://doc.getlago.com/changelog/coupons-v2)

[2022-10-10 07:51] #79 closed, assigned to michaelponrajah

[2022-10-10 07:53] michaelponrajah commented on #97
## `Invite and revoke member in organisation` is now live in production 🎉
No need to ask us to invite a team member, you can now independently invite new members in your organisation.

### Useful links
[Changelog](https://doc.getlago.com/changelog/invite-members)

[2022-10-10 07:53] #97 closed, assigned to ansmonjol, michaelponrajah

[2022-10-10 07:55] michaelponrajah commented on #57
## `Overwrite plan and charges for a specific customer` is now live in production 🎉
When assigning a plan to a customer, you can now duplicate an existing plan and create a new one based on the parent one.

### Useful links
[Changelog](https://doc.getlago.com/changelog/overwrite-plans)

[2022-10-10 07:55] #57 closed, assigned to sarkissianraffi

[2022-10-14 12:25] jdenquin commented on #98
This has been released in the `v0.12.0-alpha` version.

[2022-10-14 12:25] #98 closed, assigned to michaelponrajah

[2022-10-15 16:28] sashahilton00 commented on #67
Wanted to voice my support for some version of this feature as well. The scenario in which we would be using Lago is one of where the platform in question is acting as a form of broker. This means that a customer is billed on a per event basis upfront (eg. `contract.created`), but in the event of the contract not completing, the contract is refunded (`contract.refunded`).

With regards to how this

[2022-10-17 08:09] michaelponrajah commented on #98
## `Apply subscription on a past or future date ` is now live in production 🎉

Version `v0.12.0-alpha`
[Documentation](https://doc.getlago.com/docs/guide/plans/subscription#subscription-date)
[Changelog](https://doc.getlago.com/changelog/subscription-date)

[2022-10-18 08:42] bert-air commented on #34
+1 for hubspot intégration !

[2022-10-24 08:07] #110 closed, assigned to jdenquin

[2022-10-24 17:27] c-nv-s opened #114 "[FEAT]: valid payment method field with date of last check"
For business purposes and help with forecasting of continuing renewals, it would be useful to be able to set periodic checks of whether a customer's payment method is still valid and display this status along with the last date/time of check.

[2022-10-26 08:24] michaelponrajah commented on #114
Hey @c-nv-s ,
Thanks for the issue and request.
I guess it’s not on our scope for now. Even if this wouldn’t require to be PCI DSS (to store payment method info), this information is not useful for the billing engine for now.

I guess it’s better to ask your PSPs to handle this info and give visibility on payment method status

[2022-10-26 11:48] c-nv-s commented on #114
Ok, but just to clarify I am not requesting to store any payment details but just a status true/false that the payment method for the subscription is still valid and the date it was last checked. Anyway if that is not achievable, or if that breaks compliance then I understand.

[2022-10-27 19:35] jpattWPC opened #116 "[FEAT]: Integration with Recur360 payments platform"
**Is your feature request related to a problem? Please describe.**
No problem, just a requested feature

**Describe the solution you'd like**
Recur360 is a recurring payments platform that neatly integrates with Quickbooks. Recur360 takes care of integrating with various payment processors and Quickbooks, which means that reconciling Lago with Quickbooks will no longer be a tedious, manual task.

[2022-10-27 19:51] jpattWPC opened #117 "[FEAT]: Calculate single usage item for a group of usage items sent in an event"
**Is your feature request related to a problem? Please describe.**
No problem, just a feature request

**Describe the solution you'd like**
The ability to receive events with a group of usage items, and have basic calculations performed on them to add to the total. For example:

- The following group of usage items (in seconds) would be received, but only a single usage item needs to be billed in

[2022-10-27 23:49] derekperkins opened #118 "[FEAT]: add usage based coupons"
**Is your feature request related to a problem? Please describe.**
We incentivize customers to perform actions during onboarding, write reviews, share us on social media, etc., and in exchange, we offer free usage. Sometimes this is in the form of a recurring credit, e.g. Write a review on G2 and get 1,000 monthly units (no rollover) for 12 months. Other times it is just a bulk credit: 1,000 units

[2022-10-27 23:50] derekperkins opened #119 "[FEAT]: Avalara integration"
**Is your feature request related to a problem? Please describe.**
Tax calculation is hard, and we rely on Avalara.

**Describe the solution you'd like**
Have tax rates calculated automatically via Avalara

**Describe alternatives you've considered**
We would have to manually listen for Lago webhooks and apply tax rates ourselves

**Additional context**
Avalara is probably the most common integrat

[2022-10-27 23:51] derekperkins opened #120 "[FEAT]: Xero integration"
**Is your feature request related to a problem? Please describe.**
Billing that doesn't sync into an accounting system isn't very useful

**Describe the solution you'd like**
Sync customers and invoices into Xero

**Describe alternatives you've considered**
Manually pushing data in via webhooks

[2022-10-27 23:51] derekperkins commented on #120
cc @mordfustang21

[2022-10-27 23:52] derekperkins commented on #119
cc @MordFustang21

[2022-10-27 23:52] derekperkins commented on #118
cc @MordFustang21

[2022-10-27 23:53] derekperkins commented on #78
This is important for us

[2022-10-27 23:54] derekperkins commented on #52
This would be very helpful

[2022-10-28 14:06] mathieu-lago commented on #120
Thanks for your contribution, @derekperkins! As you mentioned, for the moment you can retrieve invoices through our webhook and then push this information to your accounting software. Native accounting integrations (e.g. QuickBooks, Xero) are also on our roadmap, so we'll be happy to scope this feature with your team.

[2022-10-28 14:12] mathieu-lago commented on #119
We are considering several options at the moment, including new tax features (e.g. set a tax rate at charge level) and native integrations as well. It would be interesting to discuss this together during our call next week. Having a better understanding of your needs could help us make a decision on this topic.

[2022-10-28 14:22] mathieu-lago commented on #118
There are different ways of approaching this (the 'coupons' feature is one of them). For the time being, I would suggest creating customer wallets and granting free credits when the customer completes a task, but this is also something I'd like to discuss with you to ensure this is the optimal solution.

Prepaid credits (guide): https://doc.getlago.com/docs/guide/prepaid_credits
Wallet creation vi

[2022-10-28 14:33] mathieu-lago commented on #116
Thanks for your contribution, @jpattWPC! I guess our preferred option would be a native integration with QuickBooks as it's been requested by other users as well, but we will take a look at Recur360.

Is Recur360 + Paya your main payment gateway or do you also use other PSPs?

[2022-10-28 14:55] mathieu-lago commented on #117
That's an interesting feature, @jpattWPC. Would you be available next week to discuss it with our team? I sent you an email earlier, please feel free to get back to me here on GitHub or by email.

[2022-10-28 15:04] derekperkins commented on #118
The main issue with that is that I don't want to discount their actual plan, I just want to grant extra free usage. I'm not set on it being a coupon, but I do want them to show up as line items on invoices so that customers can see that they are being applied.

[2022-10-28 15:19] derekperkins opened #122 "[FEAT]: invoice approvals"
**Is your feature request related to a problem? Please describe.**
For larger invoices or invoices with excessive overage, we would like for those to go through a manual approval process.

**Describe the solution you'd like**
Have all invoices be generated in a pending state. We would listen for the invoice created webhook, and then have some rules on our side to auto-approve or forward to account

[2022-10-28 15:40] jpattWPC commented on #117
I responded to your email, looking forward to chatting with you next week!

[2022-10-28 15:42] jpattWPC commented on #116
We use Recur360 + Authorize.net to process all of our CC and eCheck transactions.

[2022-10-28 17:00] derekperkins commented on #122
cc @mordfustang21

[2022-10-28 23:42] sarkissianraffi commented on #118
@derekperkins The prepaid credits granted offer extra free usage that is not being charged at the end of the period. It will be displayed on invoices. This feature has been made to grant extra free usage for actions being performed that are not directly related to a coupon.

If this does not fit, it would be great to jump on a call to understand what you have in mind.

[2022-10-31 11:34] vincent-pochet opened #123 "[BUG]: Query parameters are stripped out from Webhook URL when delivering"
If a webhook URL contains query parameters, these parameters are stripped out from the URL and are note delivered to the target URL.

[2022-10-31 13:01] #123 closed, assigned to vincent-pochet

[2022-11-01 19:32] c-nv-s commented on #114
I just wanted to add this here as I think it is relevant to this ticket.
As per step number 4. here: https://doc.getlago.com/docs/guide/payments/stripe-integration#new-billing-and-payment-system
If you try to add a customer to a subscription before they have added a payment method to stripe it will fail.
So it would actually be useful if lago had some way to advise if the customer has already adde

[2022-11-02 07:58] corvus-ch commented on #105
In an ideal world, where software does not have bugs and people do not make mistakes, yes, that feature would not be needed. However, this is not utopia and errors are being made and needs to be fixed after the fact.

At VSHN AG, we extract our events from a Prometheus API (actually Thanos, with a retention of two years → https://kb.vshn.ch/appuio-cloud/references/quality-requirements/functional/i

[2022-11-02 08:07] corvus-ch commented on #99
This is critical for VSHN to adopt Lago.

We collect usage metrics using Prometheus. There is a Prometheus setup in each and every system we operate (Kubernetes/OpenShift). Metrics, relevant for billing, are aggregated into a central data pool using the Thanos tool suite. Invoices are then generated from that central data pool.

Due to the inner workings of that setup, there is a delay of at least

[2022-11-02 10:39] michaelponrajah commented on #114
Thanks for the details, we're actually discussing internally on it, we'll get to you asap on it!

So far, we don't want to store payment method information but storing if TRUE/FALSE payment method exists and users switches the status could be one way, they should other way also, so we'll dig on it and see when we can prioritise it 🙌

[2022-11-02 18:33] mathieu-lago commented on #122
Hi @derekperkins - thanks for your time earlier!

Quick summary in case other people are interested in this feature: we're currently working on grace periods, which will allow users to review the invoices before they are sent to customers. Ideally, you'd like the Finance team to review the invoices and approve them manually via the user interface.

The first version of the feature will allow users

[2022-11-03 18:37] maciejstromich opened #126 "[FEAT]: AWS Marketplace integration"
**Is your feature request related to a problem? Please describe.**
For customers that are AWS Marketplace customers it would be beneficial to send hourly reports to AWS to correctly bill them. Maybe integrate in a way that Lago gets the AWS Marketplace subscriptions automatically into it's database

[2022-11-04 20:33] sarkissianraffi commented on #126
Hi @maciejstromich, that’s a good feature request, indeed. We’ve already planed to work on this integration.

Could be great to have a quick call with you when we start scoping the feature.
thanks!

[2022-11-07 20:24] easaw opened #127 "[BUG]: Can't get the API key from Developer area - greyed out."
**Describe the bug**
I have installed Lago locally and the API box in `/developpers` does not copy. When using inspect it seems there is no API key there at all???

_Also, 'developpers' is spelt wrong in the URL..._

**To Reproduce**
Steps to reproduce the behaviour:
1. Install locally
2. Click on Developers
3. Try to click Copy next to API Key
4. Nothing happens

When I use inspect, they API key

[2022-11-08 09:10] mathieu-lago commented on #127
Hi @easaw - thanks for opening this ticket.

Our engineering team is looking into this and will soon release a corrected version. We will let you know when this is fixed.

We will also modify the copies according to your recommendations.

[2022-11-08 10:13] ansmonjol commented on #127
Hello @easaw, I'm looking at the "copy to clipboard" issue you've reported above.

This can happen if you run the frontend application on a "non secure" environment, that prevents Chrome to access the clipboard.
Can you please make sure you run your application with secure origin such as `https` or `localhost` ?
Other reason could be that you have disabled your browser to allow access to the clipb

[2022-11-08 14:12] easaw commented on #127
Hi,

I was/ will be running locally, yes, when you say 'localhost', I assume you mean on my machine, and not on another machine (but still on an internal network)?
Currently I am using "lago.demoserver.local" with the IP address in /etc/hosts, do I need to run it specifically on my machine?

Also, would it be a good idea to run it on docker desktop?

I have also had trouble running it on a 2GB VPS

[2022-11-09 09:51] jdenquin commented on #127
Hello @easaw

2GB seems a bit light in term of RAM to run the full application in a production environment, depending on your volume of usage.
If you just want to try Lago, you can run it on Docker Desktop on your local machine of course.

[2022-11-10 10:17] ansmonjol commented on #127
Hey @easaw,

You can find fixes for the issues you described initially in the last release [`v0.14.0-alpha`](https://github.com/getlago/lago/releases/tag/v0.14.0-alpha)
- API key not visible in developer section
- Developer typo
- Copy usage of she instead of they

The ability to know when copy-to-clipboard fails will be handled in a separate improvement. You can follow it's enhancement [here](htt

[2022-11-10 10:17] #127 closed, assigned to ansmonjol

[2022-11-14 15:02] maximelebastard opened #129 "[BUG]: How is https supposed to work ?"
**Describe the bug**
I followed [the documentation](https://doc.getlago.com/docs/guide/self-hosting/docker#ssl-support) about creating and using a self-signed certificate.

Anytime I used https, I had a 404 error and realized nginx was using the default directory `/etc/nginx/html/` as a root and not `/usr/share/nginx/html` as expected.

On the `front` docker image, the nginx configuration makes th

[2022-11-14 16:32] mathieu-lago commented on #129
Hi @maximelebastard - thanks for reaching out to us!

Our Engineering team will look into this and get back to you with an update.

[2022-11-15 10:24] #129 closed, assigned to jdenquin

[2022-11-16 10:59] #32 closed, assigned to rsempe, ansmonjol

[2022-11-19 19:20] pflynn02 opened #133 "[FEAT]: ability to create one-off invoices"
**Is your feature request related to a problem? Please describe.**
There is no ability to go to a customer and just generate an invoice once and add line items to it.

**Describe the solution you'd like**
The ability to visit a customer, create an invoice, add line items, quantity, price and set an exact date the invoice is generated. Could be generated immediately or scheduled to run at a set dat

[2022-11-20 10:47] mathieu-lago commented on #133
Thanks for your contribution, @pflynn02! As mentioned on Slack, I've logged this request in our product management platform, so that our team can review it next time they discuss roadmap priorities.

[2022-11-20 14:11] maciejstromich opened #134 "[FEAT]: AWS Eventbridge or SNS Topic integration"
**Is your feature request related to a problem? Please describe.**
It would be awesome if Lago would be able to integrate with AWS Eventbridge to send events like:
- invoice issued
- payment due
- payment processed
- payment problem

in a push fashion. If Eventbridge is chosen set the event's source field to "lago" or something which easily identifies lago

[2022-11-20 23:52] Bredo commented on #69
Stripe does actually offer both [SEPA DD (EU)](https://stripe.com/docs/payments/sepa-debit), and [BACS DD (UK)](https://stripe.com/en-gb-dk/payments/bacs-debit) natively, as well as Bank Debits in [ACH (US), Pre-auth Debit (CA), and BECS (AU)](https://stripe.com/docs/payments/bank-debits).

But from your perspective, GoCardless will probably offer you nice revenue share for embedding them? They do

[2022-11-20 23:57] Bredo commented on #78
If this is coupled with outgoing webhooks, i.e. to limit an account at a customer-specific threshold, it would be very powerful! Perhaps this could be an amount in the subscription currency, or a number of events?

[2022-11-21 08:58] mathieu-lago commented on #134
Hi @maciejstromich - thanks for your suggestion! I'll log this feature request, so the team can review it.

In the meantime, you can use some of our existing [webhooks](https://doc.getlago.com/docs/api/webhooks/messages): `invoice.created` and `invoice.payment_failure`.

[2022-11-28 09:42] decnorton commented on #120
We'd also be interested in an integration with Xero and happy to work with you to scope it out

[2022-11-28 11:23] mathieu-lago commented on #120
Hi @decnorton - thanks for your message!
It would be useful to review your billing needs and requirements for this integration. Would you be available for a quick call this week?

[2022-11-28 12:47] decnorton commented on #120
@mathieu-lago Of course, feel free to reach out on dn @ carelinelive.com